.navbars {
    background-color: burlywood;
    padding: 5px 20px;
    color: white;
    height: fit-content;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.navbars-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.cart-icon {
        position: absolute;
    font-size: 15px;
    padding: 2px;
    left: 19px;
    border-radius: 50%;
    top: -10px;
}

