.navbars {
    background-color: burlywood;
    padding: 5px 20px;
    color: white;
    height: fit-content;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}