.user-login {
    margin: auto;
    width: fit-content;
    padding: 20px;
    border: 1px solid silver;
    border-radius: 5px;
}


.user-login .user-login-password {
    display: flex;
    align-items: center;
}

.user-login .pswd-show {
    color: rgb(143, 143, 143);
}

.css-i4bv87-MuiSvgIcon-root {
    width: 20px !important;
    height: 20px !important;
}

.user-login p {
    display: block;
}

.user-login button {
    padding: 3px 40px;
    margin: auto;
    border-radius: 5px;
}

.error {
    font-size: xx-small;
    color: red;
}